<nav class="navbar">
    <a href="/" class="navbar-brand logo font-weight-bold text-light">Application Tracker</a>
    <%= link_to "New Job", new_job_path(@job), class: 'btn btn-main text-light' %>
</nav>
<hr>